/* Подключение локальых шрифтов */

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf);
}

body {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    padding: 0;
    margin: 0;
    background-color: #4D5356;
}


/* Шапка сайта */

.header {
    background: url("../img/header-bg.png") center no-repeat;
    height: 92.59259vh;
    width: 100%;
}

.header__navbar .container {
    width: 82.29166%;
    padding-left: 8.33333%;
    padding-right: 9.375%;
    padding-top: 53px;
    line-height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.header__tline {
    width: 75.617%;
    height: 1px;
    background-color: #4D5356;
}

.header__menu {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    user-select: none;
}

.header__link {
    display: none;
    background-color: #4D5356;
    position: absolute;
    width: calc(17.29166% - 1.8730775%);
    height: 92.59259vh;
    left: calc(100% - 17.29166%);
    top: 0%;
    padding: 104px 0 0 1.8730775%;
}

.header__link a {
    color: white;
    text-decoration: none;
}

.header__link p {
    margin: 0;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 22px;
}

.header__text {
    margin-top: 23.51851vh;
    text-align: center;
    color: white;
    background: rgba(77, 83, 86, 0.5);
}

.header__text .container {
    padding: 78px 32.34375% 112px 32.34375%;
    width: 35.3125%;
    margin: 0 auto;
}

.header__text .container p {
    margin: 0;
    font-size: 48px;
    line-height: 72px;
}

.header__bline {
    width: 62.1875%;
    height: 1px;
    background-color: #4D5356;
    margin: 120px auto 0 auto;
}


/* Конец шапки сайта */


/* Блок 'о нас' */

.about {
    display: flex;
    padding-top: 99px;
    padding-bottom: 104px;
}

.about__text {
    width: 48.4375%;
}

.about__photo {
    width: 51.5625%;
}

.about__photo img {
    width: 100%;
    height: auto;
}

.about__header {
    text-align: center;
    padding-left: 119px;
    padding-right: 210px;
}

.about__header h3 {
    font-size: 36px;
    line-height: 34px;
    color: #589620;
    margin: 25px 0px 56px 0px;
}

.about__paragraphs {
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    line-height: 34px;
    color: white;
    padding-left: 119px;
    padding-right: 210px;
}

.about__link {
    position: relative;
    float: right;
    padding-right: 46.7473%;
    border-left: 1px solid #589620;
    border-bottom: 1px solid #589620;
    margin-top: 56.5px;
}

.about__link p {
    font-size: 18px;
    line-height: 34px;
    margin: 8.5px 0 7.5px 26.5px;
}

.about__link a {
    color: #589620;
    text-decoration: none;
}

.about__link::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 169px;
    border-top: 1px solid #589620;
    content: "";
}


/* конец блока 'о нас' */

.div-separator {
    /* Стилизация блока предназначеного для разделения основных блоков */
    height: 20px;
    background: #C4C4C4
}


/* Блок 'почему мы' */

.features .container {
    display: grid;
    padding: 104px 16.66%;
    grid-template-columns: 1fr 1fr;
}

.features__text {
    color: white;
    text-align: center;
    padding: 70px 11.25% 0 11.25%;
}

.features__text p:first-child {
    font-size: 28px;
    line-height: 34px;
    margin: 0;
}

.features__text p:nth-child(2) {
    font-size: 22px;
    line-height: 34px;
    margin-top: 54px;
}

.features__photo img {
    width: 100%;
    height: auto;
}


/* Конец блока 'почему мы' */


/* Блок 'портфолио' */

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.portfolio__slider {
    position: relative;
    min-width: 0;
    min-height: 0;
    margin: 104px 0;
}

.portfolio__slider .slick-arrow {
    position: absolute;
    top: calc(596px - 57.5px);
    padding: 13.75px 51px;
}

.portfolio__slider .slick-arrow.slick-prev {
    right: 100%;
    transform: rotate(180deg);
    border: 1px solid #589620;
}

.portfolio__slider .slick-arrow.slick-next {
    border: 1px solid #4D5356;
}

.portfolio__header {
    text-align: center;
    padding: 156px 232px 0;
    margin-bottom: 63px;
}

.portfolio__header h3 {
    font-size: 36px;
    line-height: 34px;
    color: #589620;
}

.portfolio__paragraphs {
    text-align: center;
    padding: 0 232px;
}

.portfolio__paragraphs p:first-child {
    font-size: 28px;
    line-height: 34px;
    color: white;
    margin-bottom: 54px;
}

.portfolio__paragraphs p:nth-child(2) {
    font-size: 22px;
    line-height: 34px;
    color: white;
    margin-bottom: 54.5px;
}

.portfolio__link {
    position: relative;
    float: left;
    padding-left: 44.166%;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 56.5px;
}

.portfolio__link p {
    font-size: 18px;
    line-height: 34px;
    margin: 8.5px 26.5px 7.5px 0;
}

.portfolio__link a {
    color: white;
    text-decoration: none;
}

.portfolio__link::before {
    position: absolute;
    top: 0;
    left: calc(100% - 165px);
    width: 165px;
    border-top: 1px solid white;
    content: "";
}


/* конец блока 'портфолио' */


/* блок 'как мы работаем' */

.working .container {
    padding: 104px 0;
    text-align: center;
}

.working__header p {
    font-size: 36px;
    line-height: 36px;
    color: #589620;
}

.working__text {
    display: flex;
    justify-content: space-between;
}

.working__paragraph {
    width: 25.833%;
}

.working__paragraph:first-child {
    margin-left: 5.98958%;
    position: relative;
}

.working__paragraph:nth-child(2) {
    position: relative;
}

.working__paragraph:last-child {
    margin-right: 5.98958%;
    position: relative;
}

.working__paragraph p:first-child {
    font-size: 28px;
    line-height: 36px;
    color: white;
}

.working__paragraph p:nth-child(2) {
    font-size: 22px;
    line-height: 36px;
    color: white;
}

.working__paragraph:first-child::before {
    content: "1";
}

.working__paragraph:nth-child(2)::before {
    content: "2";
}

.working__paragraph:last-child::before {
    content: "3";
}

.working__paragraph:first-child::before,
.working__paragraph:nth-child(2)::before,
.working__paragraph:last-child::before {
    font-size: 370px;
    line-height: 292px;
    color: rgba(88, 150, 32, 0.1);
    position: absolute;
    top: calc(100% - 312px);
    right: calc(100% - 125px);
}


/* конец блока 'как мы работаем' */


/* блок 'связь с нами' */

.connection__header {
    text-align: center;
    margin-top: 104px;
    margin-bottom: 105px;
}

.connection__header p {
    font-size: 36px;
    line-height: 34px;
    color: #589620;
}

.connection__info {
    display: flex;
}

.connection__contact {
    width: 50%;
}

.connection__contact__header {
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    color: white;
    margin-bottom: 78px;
}

.connection__social {
    margin-left: 3.593%;
    margin-bottom: 114px;
    margin-top: 43px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 22px;
    color: white;
    grid-row-gap: 30px
}

.connection__social div {
    display: flex;
    align-items: top;
}

.connection__social a {
    text-decoration: none;
    color: white;
}

.connection__social p {
    margin: 0;
    line-height: 34px;
    margin-left: 40px;
}

.connection__request {
    width: 50%;
}

.connection__request .container {
    padding: 0 23.854% 0 14.27%;
    text-align: center;
}

.connection__request__header {
    font-size: 28px;
    line-height: 34px;
    color: white;
    margin-bottom: 110px;
}

.connection__reauest__paragraph {
    font-size: 22px;
    line-height: 34px;
    color: white;
    margin-bottom: 62px;
}

.connection__form input {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    margin-bottom: 34px;
    padding: 0 0 12px 21px;
    font-size: 22px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.5);
}

.connection__button button {
    position: relative;
    background-color: transparent;
    border: none;
    float: right;
    padding-right: 46.97916%;
    font-size: 18px;
    line-height: 34px;
    color: white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.connection__button button::before {
    position: absolute;
    top: 0;
    right: calc(100% - 165px);
    width: 165px;
    border-top: 1px solid white;
    content: "";
}

.connection__button button p {
    margin: 4.5px 0 7.5px 36.5px;
}

.connection__text {
    text-align: center;
    color: white;
    padding: 0 140px;
}

.connection__text p:first-child {
    font-size: 28px;
    line-height: 34px;
}

.connection__text p:nth-child(2) {
    font-size: 22px;
    line-height: 34px;
    padding: 0 54px;
}

.connection__text p:last-child {
    font-size: 28px;
    line-height: 34px;
    max-width: 521px;
    margin: 0 auto;
    margin-bottom: 71px;
}

.footer {
    background-color: white;
    display: flex;
    color: #4D5356;
    padding: 41px 4.84375% 50px 7.29166%;
}


/* конец блока 'связь с нами' */


/* подвал сайта */

.footer__links {
    display: grid;
    grid-template-columns: 93px 184px 93px;
    grid-column-gap: 100px;
    margin-right: 10.84765%;
}

.footer__links a {
    color: #4D5356;
    text-decoration: none;
    font-size: 24px;
    line-height: 36px;
}

.footer__logo {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
}

.footer__contact {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 18px;
    line-height: 34px;
    grid-column-gap: 40px;
    margin-left: 7.6467%;
}

.footer__contact a {
    color: #4D5356;
    text-decoration: none;
}

.footer__contact p {
    margin: 0;
    margin-left: 38px;
}

.footer__contact div {
    display: flex;
    align-items: top;
}


/* конец подвала сайта */

.gmnoprint {
    display: none!important;
}